html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

.App {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  --lightblue: lightblue;
  --blue: #423bfd;
  --darkblue: #0a02d0;
  --lightyellow: rgb(255, 255, 125);
  --yellow: #f9dc6c;
  --darkyellow: #f5c50a;
  --lightred: #fa7c7e;
  --red: #fb4143;
  --darkred: #d20407;
  --lightgreen: #a6dbbf;
  --green: #5cd193;
  --darkgreen: #2c9b60;
}

.ButtonParent {
  position: relative;
}

.Button {
  cursor: pointer;
  position: relative;
  color: white;
  background: #aaa;
  border-radius: 6px;
  border-style: none;
  border: 1px solid #999;
  border-spacing: 0px;
  outline: none;
  box-shadow: 0px 2px 2px #ddd;
  font-family: 'Raleway', sans-serif;
  transition: .3s;
}

.shiftText1 {
  display: inline-block;  
}

.shiftArrow1 {
  transform: translateX(4px);
  display: inline-block;
  transition: .3s;  
}

.lightBlue {
  background: var(--lightblue)
}

.Blue {
  background: var(--blue)
}

.BlueGradient {
  background: linear-gradient(to right, var(--blue), var(--lightblue))
}

.lightYellow {
  background: var(--lightyellow)
}

.Yellow {
  background: var(--yellow)
}

.YellowGradient {
  background: linear-gradient(to right, var(--yellow), var(--lightyellow))
}

.lightRed {
  background: var(--lightred)
}

.Red {
  background: var(--red)
}

.RedGradient {
  background: linear-gradient(to right, var(--red), var(--lightred))
}

.lightGreen {
  background: var(--lightgreen)
}

.Green {
  background: var(--green)
}

.GreenGradient {
  background: linear-gradient(to right, var(--green), var(--lightgreen))
}

.shiftText {
  transform: translateX(-4px);
  display: inline-block;
  /* color: lightgreen; */
  transition: .3s;
}

.Small {
  padding: 8px 9px;
  font-size: 10px
}

.Medium {
  padding: 10px 12px;
}

.Large {
  padding: 14px 16px;
  font-size: 16px;
}

/* ----------------------------------------------------------- */

.header {
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 24px;
  color: white;
}

.headerList {
  display: flex;
}

li {
  list-style: none;
  padding-left: 16px;
  cursor: pointer;
}


/* ------------------------------------------------------------ */

.SmallGrow:hover {
  padding: 9px 11px;  
}

.MediumGrow:hover {
  padding: 12px 14px;
}

.LargeGrow:hover {
  padding: 16px 18px;  
}

.SmallWiden:hover {
  padding: 8px 12px;  
}

.MediumWiden:hover {
  padding: 10px 14px;
}

.LargeWiden:hover {
  padding: 14px 18px;
}

.SmallFloat:hover {
  transform: translateY(-2px);
  box-shadow: 0px 2px 2px #999;  
}

.MediumFloat:hover {
  transform: translateY(-3px);
  box-shadow: 0px 2px 2px #999;  
}

.LargeFloat:hover {
  transform: translateY(-4px);
  box-shadow: 0px 2px 2px #888;  
}

.BlueColor:hover {
  background: var(--darkblue);
}

.YellowColor:hover {
  background: var(--darkyellow);
}

.RedColor:hover {
  background: var(--darkred);
}

.GreenColor:hover {
   background: var(--darkgreen);
}

/* ----------------------------------------------------------- */

.BlueDepress:active {
  background: var(--darkblue);
  border: 3px solid var(--blue);
  padding: 9px 11px;
  transition: 0s;
}

.YellowDepress:active {
  background: var(--darkyellow);
}

.RedDepress:active {
  background: var(--darkred);
}

.GreenDepress:active {
  background: var(--darkgreen);
}

.Drop:active {
  transition: .1s;
  transform: translateY(2px)
}

.BlueBoxOut:active {
  background: green;
  border-collapse: separate;
  border-spacing: 15px;
}

/* ------------------------------------------------ */

.roundShadow {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #222;
  box-shadow: 0px 2px 5px #333;
  transform: scale(1, .3)
}

.borderOut {
  margin: 30px 0px;
  cursor: pointer;
  position: relative;
  color: white;
  background: #aaa;
  padding: 5px;
  border-style: none;
  outline: 1px solid rgb(0, 128, 0, 1);
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  transform: scale(1);
  transition: .4s
}

.borderOut:hover {
  outline-offset: 8px;
  outline: 1px solid rgb(0, 0, 255, 0);
}

.bigOuter {
  width: 100px;
  height: 100px;
  background: lightcyan;
  position: relative;
  margin: auto;
}

.outer {
  width: 60px;
  height: 40px;
  margin: auto;
  border-radius: 4px;
  border: 1px solid black;
  position: absolute;
  top: 10px;
  left: 10px;
  transition: .5s
}

.outer2 {
  width: 70px;
  height: 48px;
  border: 1px solid rgba(0, 0, 0, 0);
  top: 6px;
  left: 5px;
}

.inner {
  width: 60.5px;
  height: 40px;
  background: lightgreen;
  border-radius: 4px;
  position: absolute;
  top: 11px;
  left: 11px;
  cursor: pointer;
}



/* .outer::before {
  content: 'click';
  width: 60px;
  height: 40px;
  background: lightgreen;
  border-radius: 4px;
} */

/* ----------------------------------------- */

.modalBackground {
  width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.212);
	position: fixed;
	top: 0;
}

.Modal1 {
	width: 30%;
	height: 60%;
  border-radius: 8px;
  padding-top: 24px;
  box-sizing: border-box;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	animation-name: slideLeft;
	animation-iteration-count: 1;
	animation-timing-function: ease-out;
  animation-duration: 700ms;
}

@keyframes slideLeft {
	0% {
		left: -50%;
		top: 0;
	}
	80% {
		left: 55%;
		top: 55%;
	}
	100% {
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}
}

.Modal2 {
	width: 22%;
	height: 50%;
  border-radius: 8px;
  padding-top: 24px;
  box-sizing: border-box;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	animation-name: slideBottom;
	animation-iteration-count: 1;
	animation-timing-function: ease-out;
  animation-duration: 500ms;
}

@keyframes slideBottom {
  0% {
    top: 100%;
    width: 0%;
    height: 0%;
  }
  100% {
    top: 50%;
    width: 22%;
    height: 50%;
  }
}

.Modal3 {
	width: 25%;
	height: 30%;
  border-radius: 8px;
  padding-top: 24px;
  font-size: 1em;
  box-sizing: border-box;
	position: absolute;
	left: 50%;
	top: 50%;
  transform: translate(-50%, -50%);
  transform-origin: center; 
	animation-name: rotate;
	animation-iteration-count: 1;
	animation-timing-function: ease-out;
  animation-duration: 300ms;
}

@keyframes rotate {
  0% {
    width: 0%;
    height: 0%;
    font-size: 0px;
    transform: translate(-50%, -50%) rotate(-120deg) ;
  }
  100% {
    width: 25%;
    height: 30%;
    font-size: 1em;
    transform: translate(-50%, -50%) rotate(0deg) ;
  }
}

.Modal4 {
	width: 25%;
	height: 30%;
  border-radius: 8px;
  padding-top: 24px;
  font-size: 1em;
  box-sizing: border-box;
	position: absolute;
	left: 50%;
	top: 50%;
  transform: translate(-50%, -50%);
  transform-origin: center; 
	animation-name: fade;
	animation-iteration-count: 1;
	animation-timing-function: ease-out;
  animation-duration: 500ms;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.Modal5 {
	width: 20%;
	height: 30%;
  border-radius: 8px;
  padding-top: 24px;
  font-size: 1em;
  box-sizing: border-box;
	position: absolute;
	left: 50%;
	top: 50%;
  transform: translate(-50%, -50%);
  transform-origin: center; 
	animation-name: skew;
	animation-iteration-count: 1;
	animation-timing-function: ease-out;
  animation-duration: 500ms;
}

@keyframes skew {
  0% {
    transform: translate(-50%, -50%) skew(20deg, 30deg);
  }
  100% {
    transform: translate(-50%, -50%) skew(0deg, 0deg);    
  }
}

.Modal6 {
	width: 22%;
	height: 50%;
  border-radius: 8px;
  padding-top: 24px;
  box-sizing: border-box;
  position: absolute;
  background: white;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	animation-name: crashIn;
	animation-iteration-count: 1;
	animation-timing-function: ease-out;
  animation-duration: 500ms;
}

@keyframes crashIn {
  0% {
    top: 100%;
    width: 0%;
    height: 0%;
  }
  100% {
    top: 50%;
    width: 22%;
    height: 50%;
  }
}

.Modal6Left {
	width: 11%;
	height: 50%;
  border-radius: 8px;
  padding-top: 24px;
  box-sizing: border-box;
	position: absolute;
	right: 90%;
	top: 50%;
  /* transform: translate(-50%, -50%); */
	animation-name: crashLeft;
	animation-iteration-count: 1;
	animation-timing-function: ease-out;
  animation-duration: 500ms;
}

@keyframes crashLeft {
  0% {
    right: 90%;
  }
  100% {
    right: 50%;
  }
}

/* ------------------------------------------------------------------ */

.messageBubble {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: fixed;
  bottom: 16px;
  right: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  animation-name: bubbleGrow;
	animation-iteration-count: 1;
	animation-timing-function: ease-out;
  animation-duration: 400ms;
}

@keyframes bubbleGrow {
  0% {
    width: 0px;
    height: 0px;
  }
  100% {
    width: 50px;
    height: 50px;
  }
}

.X {
  width: 14px;
  height: 14px;
  animation-name: XRotate;
	animation-iteration-count: 1;
	animation-timing-function: ease-out;
  animation-duration: 200ms;
}

@keyframes XRotate {
  0% {
    transform: rotate(-30deg)
  }
  100% {
    transform: rotate(0deg)
  }
}

.chatBox {
  width: 250px;
  height: 400px;
  position: fixed;
  bottom: 66px;
  right: 16px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px #aaa;
  overflow: hidden;
  opacity: 0;
  transition: 300ms;
}

.chatBoxIn {
  bottom: 80px;
  opacity: 1;
}

.chatIcon {
  width: 28px;
  height: 28px;
  animation-name: chatIconGrow;
	animation-iteration-count: 1;
	animation-timing-function: ease-out;
  animation-duration: 200ms;
}

@keyframes chatIconGrow {
  0% {
    width: 0px;
    height: 0px;
    transform: rotate(40deg)
  }
  100% {
    width: 28px;
    height: 28px;
    transform: rotate(0deg)
  }
}

.chatBoxInner {
  width: 100%;
  height: 30%;
  color: white;
  text-align: left;
  box-sizing: border-box;
  padding: 20px;
  font-size: 1.2em;
}

.chatBoxInner h3 {
  color: #ddd;
  font-size: .8em;
  line-height: 2
}

.chatBoxBox {
  width: 80%;
  height: 30%;
  position: relative;
  top: -30px;
  background: white;
  border-radius: 6px;
  box-shadow: 0px 2px 4px #ddd;
  left: 50%;
  transform: translateX(-50%);
  box-sizing: border-box;
  padding: 12px;
  text-align: left;
}

.chatBoxBox h3 {
  font-size: .8em;
  color: #333;
  padding-bottom: 8px;
}

.chatBoxBox h4 {
  font-size: .7em;
  color: #aaa;
}

.chatImageDiv {
  display: flex;
  padding-top: 10px;
  align-items: center;
}

.chatAvatar {
  width: 30px;
  height: 30px;
  background-position: center;
  border-radius: 50%;
  margin-right: 10px;
}

.chatBoxBox button {
  width: 60%;
  height: 24px;
  border-radius: 16px;
  border-style: none;
  padding: 4px;
  box-sizing: border-box;
  font-size: .7em;
  background: var(--blue);
  color: white;
  cursor: pointer;
  outline: none;
}